.about_me_title {
    text-align: center;
}

.about_me_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#6AA695;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1rem;
}

img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

p {
    font-size: 25px;
    width: 100%;
    border-top-style:solid;
    border-top-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    
}

.about_me_image {
    min-width: 20rem;
    min-height: 10rem;
    width: 50%;
}

.about_me_text {
    margin: 0 0.5rem;
    width: 45%;
    
}