.blog_title {
    text-align: left;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

}
.blog_container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    
}

.blog_entry {
    /* border: #3CA19F solid 0.5rem; */
    /* width: 40rem; */
    /* min-width: 40rem; */
    /* margin: 1rem; */
    
}

.blog_image {
    display: block;
    width: 25rem;
    height: 15rem;
    margin: 1rem auto;
    object-fit: cover;
}

.blog_entry_header {
    text-align: center;
}

.blog_link{
    color: black;
}

@media (max-width: 60em) {
    .blog_container {
        grid-template-columns: 1fr;
        
    }
}