.container_image {
    display: inline-block;
    width: 5rem;
}
.container_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    margin-left: 0.5rem;
}
.contact_individual{
    margin: 1rem;
    border: #58C1BF solid 0.5rem;
}
.contact_title{
    text-align: center;
}

.contact_link{
    color: black;
}
