/* basic css properties */
:root {
    --background_color: #347367;
    --box_1_color: #6AA695;
    --box_2_color: #B8D9C6;

}

body {
    margin: 0;
    background-color: whitesmoke;
}

/* Header/Navigation */
.homepage_header {
    background-color: var(--box_2_color);
    font-size: 20px;
    padding: 0.5rem;
    margin: 0 0 0.5rem 0;
}

.header_column {
    display: flex;
    
    
}

.header_columns {
    border: black 0.1rem;
    padding: 0 0.5rem;
    border-style: none solid none none;
    
}

